### This is the exercise for Project 2, Lesson 5.5 - 'Assessing Data'

In [38]:
import pandas as pd
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [39]:
df_08.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [40]:
df_08.shape, df_18.shape

((2404, 18), (1611, 18))

In [41]:
sum(df_08.duplicated()), sum(df_18.duplicated())

(25, 0)

Use below to find the columns that have missing NaN values:

In [42]:
df_08.columns[df_08.isnull().any()]

Index(['Cyl', 'Trans', 'Drive', 'FE Calc Appr', 'City MPG', 'Hwy MPG',
       'Cmb MPG', 'Unadj Cmb MPG', 'Greenhouse Gas Score'],
      dtype='object')

Use below to find the total NaN/missing values in each columns

In [43]:
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [44]:
df_18.columns[df_08.isnull().any()]

Index(['Cyl', 'Trans', 'Drive', 'Air Pollution Score', 'City MPG', 'Hwy MPG',
       'Cmb MPG', 'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [45]:
df_18.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [46]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

Calculate the unique values in the columns, by default `nunique` method has \
`dropna` set to True which means nunique does not take the `NaN` values into
account.

In [47]:
df_08['SmartWay'].nunique(), df_18['SmartWay'].nunique()

(2, 3)

In [48]:
df_08['Trans'].nunique(), df_08['Sales Area'].nunique()

(14, 3)

In [49]:
df_18['Cert Region'].nunique()

2

In [50]:
df_08['Cyl'].head(2)

0    (6 cyl)
1    (6 cyl)
Name: Cyl, dtype: object

In [51]:
df_18['Cyl'].head(2)

0    6.0
1    6.0
Name: Cyl, dtype: float64

In [52]:
df_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [53]:
df_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

Remove the unwanted columns from the two data sets, \
goal is to make the two datasets to have similar columns to be compared.

In [54]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [55]:
# drop columns from df_18 data set as well 
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

# confirm changes
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

Now we need to change the column names in one of the data sets so that they are same in 
both the datasets, \
look at the column `Sales Area` in `df_08` is named as `Cert Region` in `df_18` dataset.
Rename the column.

In [56]:
# rename Sales Area to Cert Region
df_08.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)

# confirm the change
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

Next step would be to standardise the column names,\
like change them all to lower case and where ever \
there is a underscore change to the space.

In [57]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [58]:
# replace spaces with underscores and lowercase labels for 2018 dataset
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [59]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [60]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

True

In [61]:
# save new datasets for next section
df_08.to_csv('./data_08_v1.csv', index=False)
df_18.to_csv('./data_18_v1.csv', index=False)

### [Explanation for dropping columns/rows in DF](https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php) 
Above page also explain what `axis` value means; 

```
axis=0 (0 refers to rows)
axis=1 (1 refers to columns)
```

### Lesson 6 starts from here and we are going to filter the data
- filtering data with only with `cert_region` for `CA`
- remove the rows with missing values
- drop the duplicates.

In [62]:
# filter the dataset to have only data with cert_region=CA
df_08 = df_08.query('cert_region == "CA"')
# confirm that only CA data exist by running unique on the coulmn
df_08.cert_region.unique()

array(['CA'], dtype=object)

In [63]:
# repeat above for df_18 dataset:
# filter the dataset to have only data with cert_region=CA
df_18 = df_18.query('cert_region == "CA"')
# confirm that only CA data exist by running unique on the coulmn
df_18.cert_region.unique()

array(['CA'], dtype=object)

In [64]:
# we can now safely remove the column `cert_region` since all
# the rows are from CA region data.
# drop certification region columns form both datasets

df_08.drop(['cert_region'], axis=1, inplace=True)
df_18.drop(['cert_region'], axis=1, inplace=True)

# confirm with the shape
df_08.shape, df_18.shape

((1084, 13), (798, 13))

### Now we drop the rows with the missing values using `dropna`:

In [65]:
# find the rows with total missing values
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [66]:
# drop the rows with missing values
df_08.dropna(inplace=True)

# confirm if the rows were dropped by check if there is 
# any rows with missing data, it should return False when there 
# is no missing data
df_08.isnull().sum().any()

False

### Final step is remove any of the duplicate data.

In [67]:
# print number of duplicates in both datasets
sum(df_08.duplicated()), sum(df_18.duplicated())

(23, 3)

In [68]:
# drop duplicates in both datasets

df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

# confirm the duplicates have been dropped.
sum(df_08.duplicated()), sum(df_18.duplicated())

(0, 0)

In [69]:
# save progress for the next lesson 7
df_08.to_csv('./data_08_v2.csv', index=False)
df_18.to_csv('./data_18_v2.csv', index=False)

### Lesson 7 fixing the datatypes:
`cyl` column in 2008 dataset is type str:
```
(6 cyl)
```
we need to extract the `6` out of the str and convert it to int \
and put it back into the column.

In [76]:
import pandas as pd
import numpy as np

# read the csv's again
df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [77]:
# take note of the shape before making amends
df_08.cyl.shape

(986,)

In [78]:
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [79]:
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

### converting the data types of the column, good article here 
https://stackoverflow.com/questions/21291259/convert-floats-to-ints-in-pandas

In [80]:
# change the data type from float to int using apply()
df_18['cyl'] = df_18['cyl'].apply(np.int64)

ValueError: cannot convert float NaN to integer

In [81]:
# validate the change of the df_18.cyl dtype changed from float to int
df_18['cyl'].value_counts()

4.0     365
6.0     246
8.0     153
3.0      18
12.0      9
5.0       2
16.0      1
Name: cyl, dtype: int64

#### Fix air_pollution_score datatype
- 2008: convert string to float.
- 2018: convert int to float.

#### Fix city_mpg, hwy_mpg, cmb_mpg datatypes
- 2008 and 2018: convert string to float.

### Fix greenhouse_gas_score datatype
- 2008: convert from float to int.

In [82]:
# confirm by running df_08.info() that air_pollution_score is str
# convert using the DF apply() method or using the pandas to numeric method.

# df_08['air_pollution_score'] = df_08['air_pollution_score'].apply(np.float16)
# df_08['air_pollution_score'] = pd.to_numeric(df_08['air_pollution_score'], downcast="float")

# or below
# df_08['air_pollution_score'] = df_08['air_pollution_score'].astype(float)

## But when run one of the above commands you see the error, could not convert the string
## 6/4 to float. Its because the one of the str in the column air_pollution_score
## has forward slash, unfortunately can't be converted with straight forward method.

df_08[df_08.air_pollution_score == '6/4']
# hb_08 = df_08[df_08['fuel'].str.contains('/')]
# hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [83]:
### Explanation on why there is a forward slash. It's not just the air pollution score!
# The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to this link, which I found from the PDF documentation:
# If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
# Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

In [84]:
# check the row which contains the '/' in that column
hb_08 = df_08[df_08['air_pollution_score'].str.contains('/')]
hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [85]:
# create two copies of the 2008 dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [86]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [87]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values after the "/"s
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [88]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [89]:
# drop the original hybrid rows
df_08.drop(hb_08.index, inplace=True)

# add in our newly separated rows
df_08 = df_08.append(new_rows, ignore_index=True)

In [90]:
# check that all the original hybrid rows with "/"s are gone
df_08[df_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [ ]:
df_08.shape

In [92]:
# we can now safely convert the air_pollution_score into float.
df_08['air_pollution_score'] = df_08['air_pollution_score'].astype(float)
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    object
 4   drive                 987 non-null    object
 5   fuel                  987 non-null    object
 6   veh_class             987 non-null    object
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    object
 9   hwy_mpg               987 non-null    object
 10  cmb_mpg               987 non-null    object
 11  greenhouse_gas_score  987 non-null    object
 12  smartway              987 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 100.4+ KB

### Repeat this process for the 2018 dataset
- 2018: convert int to float for column air_pollution_score