This is the exercise for Project 2, 
Lesson 5.5 - 'Assessing Data'

In [1]:
import pandas as pd
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [2]:
df_08.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [3]:
df_08.shape, df_18.shape

((2404, 18), (1611, 18))

In [4]:
sum(df_08.duplicated()), sum(df_18.duplicated())

(25, 0)

Use below to find the columns that have missing NaN values:

In [5]:
df_08.columns[df_08.isnull().any()]

Index(['Cyl', 'Trans', 'Drive', 'FE Calc Appr', 'City MPG', 'Hwy MPG',
       'Cmb MPG', 'Unadj Cmb MPG', 'Greenhouse Gas Score'],
      dtype='object')

Use below to find the total NaN/missing values in each columns

In [6]:
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [7]:
df_18.columns[df_08.isnull().any()]

Index(['Cyl', 'Trans', 'Drive', 'Air Pollution Score', 'City MPG', 'Hwy MPG',
       'Cmb MPG', 'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [8]:
df_18.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [9]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

Calculate the unique values in the columns, by default `nunique` method has \
`dropna` set to True which means nunique does not take the `NaN` values into
account.

In [10]:
df_08['SmartWay'].nunique(), df_18['SmartWay'].nunique()

(2, 3)

In [11]:
df_08['Trans'].nunique(), df_08['Sales Area'].nunique()

(14, 3)

In [12]:
df_18['Cert Region'].nunique()

2

In [13]:
df_08['Cyl'].head(2)

0    (6 cyl)
1    (6 cyl)
Name: Cyl, dtype: object

In [14]:
df_18['Cyl'].head(2)

0    6.0
1    6.0
Name: Cyl, dtype: float64

In [15]:
df_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [16]:
df_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

Remove the unwanted columns from the two data sets, \
goal is to make the two datasets to have similar columns to be compared.

In [17]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [18]:
# drop columns from df_18 data set as well 
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

# confirm changes
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

Now we need to change the column names in one of the data sets so that they are same in 
both the datasets, \
look at the column `Sales Area` in `df_08` is named as `Cert Region` in `df_18` dataset.
Rename the column.

In [19]:
# rename Sales Area to Cert Region
df_08.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)

# confirm the change
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

Next step would be to standardise the column names, 
like change them all to lower case and where ever 
there is a underscore change to the space.

In [20]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [21]:
# replace spaces with underscores and lowercase labels for 2018 dataset
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [22]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [23]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

True

In [24]:
# save new datasets for next section
df_08.to_csv('./data_08_v1.csv', index=False)
df_18.to_csv('./data_18_v1.csv', index=False)

[Explanation for dropping columns/rows in DF](https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php) \
Above page also explain what `axis` value means; 

```
axis=0 (0 refers to rows)
axis=1 (1 refers to columns)
```

Lesson 6 starts from here and we are going to filter the data
- filtering data with only with `cert_region` for `CA`
- remove the rows with missing values
- drop the duplicates.

In [25]:
# filter the dataset to have only data with cert_region=CA
df_08 = df_08.query('cert_region == "CA"')
# confirm that only CA data exist by running unique on the coulmn
df_08.cert_region.unique()

array(['CA'], dtype=object)

In [26]:
# repeat above for df_18 dataset:
# filter the dataset to have only data with cert_region=CA
df_18 = df_18.query('cert_region == "CA"')
# confirm that only CA data exist by running unique on the coulmn
df_18.cert_region.unique()

array(['CA'], dtype=object)

In [27]:
# we can now safely remove the column `cert_region` since all
# the rows are from CA region data.
# drop certification region columns form both datasets

df_08.drop(['cert_region'], axis=1, inplace=True)
df_18.drop(['cert_region'], axis=1, inplace=True)

# confirm with the shape
df_08.shape, df_18.shape

((1084, 13), (798, 13))

Now we drop the rows with the missing values using `dropna`:

In [28]:
# find the rows with total missing values
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [29]:
# drop the rows with missing values
df_08.dropna(inplace=True)

# confirm if the rows were dropped by check if there is 
# any rows with missing data, it should return False when there 
# is no missing data
df_08.isnull().sum().any()

False

Final step is remove any of the duplicate data.

In [30]:
# print number of duplicates in both datasets
sum(df_08.duplicated()), sum(df_18.duplicated())

(23, 3)

In [31]:
# drop duplicates in both datasets

df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

# confirm the duplicates have been dropped.
sum(df_08.duplicated()), sum(df_18.duplicated())

(0, 0)

In [32]:
# save progress for the next lesson 7
df_08.to_csv('./data_08_v2.csv', index=False)
df_18.to_csv('./data_18_v2.csv', index=False)